/* Shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #3A3A3A;
    --btn-bd-color: #E02C6D;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
.btn-primary{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--btn-bd-color);
    border-radius: 41px;
    border: none;
    padding: 10px 20px;
}
.text-description{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}

/* Header style section */
.header-section{
    max-width: 1440px;
}
.header-container{
    max-width: 1192px;
    margin: 80px auto;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav h3{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
}
.header-menu{
    display: flex;
    
}
.header-menu li{
    list-style: none;
    margin-left: 30px;
}
.header-menu li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}
.header-menu li a i{}

.banner{
    display: flex;
    align-items: center;
    justify-content: a;
    margin-top: 40px;
}
.banner .left-content{
    flex:50%;
}
.banner .left-content h1{
    font-size: 52px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 70px;
}
.banner .left-content p{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}
.banner .left-content button{}
.banner .left-content button i{}

.banner .right-img{
    flex:50%;
    overflow:hidden;
    background:url('images/Circle\ design.svg') no-repeat center bottom;
    background-size:contain;
}
.banner .right-img img{
    display: block;
    margin: 0 auto;
}

/* Main style section */
.main-section{
    margin-bottom: 100px;
}
/* Start Our Sponsors styles */
.our-sponsors{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 30px 0px;
    
}
.our-sponsors img{}


/* Footer style section */



/* Responsive Devices */
/* Small Devices */


/* Medium Devices */